PORT=3003
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
SUCCESS_STRIPE_URL="http://localhost:3003/payments/success"
CANCEL_STRIPE_URL="http://localhost:3003/payments/cancelled"

NATS_SERVERS="nats://localhost:4222"